#container {
	width: 1000px;
	height: 1000px;
	/*border: 1px grey;
	border-style: dashed;*/
}

	#banner {
		width: 1000px;
		height: 150px;
		background-color: #670200;		
	}
		#site_logo {
			width: 625px;
			height: 100px;
			display: inline-block;	
			background-image: url('http://www5.us.freebsd.org/layout/images/logo-red.png');
			background-size: contain;
		}
		#misc {
			width: 325px;
			height: 100px;
			background-color: ##670200;
			display: inline-block;
			margin-right: 30px;
			vertical-align: top;	
		}
			#misc p {
				color: white;
			}
			#misc a {
				color: #FAC94F;
			}
			#misc form {
				padding-left: 60px; 
		}	


	#nav {
		list-style-type: none;
		padding-top: 10px;
		width: 960px; height: 30px; 
		background-color: #E7E7E7;
		border-bottom: 1px solid black;
		
	}
		#nav a {
			color: #666668;
			text-decoration: none;
			font-weight: bold;
			font-size: 15px;
			padding-right: 10px;
			
			margin-right: 5px;
		}
			#nav li {
				display: inline;
				margin-right: 5px;
				border-right: 1px solid grey;
			}
			#nav li:last-child {
				border-right: none;
			}

#body{
	display: block;
	height: 800px;
	padding-top: 20px;
}	
	#body a {
		color: #960816;
	}
		#links {
			border: 1px grey;
			background-color: #EEEEEE;
			width: 170px;
			height: 300px;
			display: inline-block;
			margin-right: 30px;
			margin-left: 10px;
			margin-top: 10px;
			vertical-align: top;
			padding-right: 20px;*/
			padding-top: 20px;
			font-size: 12px;

		}
			#links ul {
				list-style-type: none;
			}
			#links li {
				margin-bottom: 5px;
			}

		#contents {
			width: 600px;
			height: 800px;
			display: inline-block;
			padding-left: 10px;
		}
		 	#contents h2 {
		 		color: #990000;
			}			
			#contents h3 {
				color: #990000;
			}
			#contents h4 {
				color: #990000;
			}
				#top {
				height: 350px;
				font-size: 12px;
				border-bottom: 2px solid black;
				}
				#mid {
				height: 100px;
				font-size: 12px;
				border-bottom: 2px solid black;
				}
				#bot {
				height: 200px;
				font-size: 12px;
				}